# Chimpansky files
*.Xc
#*.pdf
*.ods
*.ods#
*.txt
*.png
test.c

# tester folder:
LazyPhilosophersTester/

# IDE
.vscode

# binaries
*.o
*.a
*.out



# generated
tests/tests_output/*

# debug syms
.nfs*
